# build
/build/

# ignore python compile files
*.pyc
*.pyo
*.swp

# debian package
*.deb
*.dsc
*.changes
*.debhelper.log
debian/python-logni/*
debian/python-module-stampdir*
debian/.debhelper

# pypi
/dist/
/logni.egg-info
.pypirc
/venv

/test/unit/*.xml
