Source: python-logni
Section: net
Priority: optional
Build-Depends: cdbs, debhelper, python3-setuptools
Maintainer: Erik Brozek <erik@brozek.name>

Package: python-logni
Section: net
XB-Python-Version: ${python:Versions}
Depends: ${python:Depends}
Architecture: all
Description: LogNI
 Send messages to the aplication logger
